.education {
    width: 100%;
    padding: 2rem;
    color: white;
}

.education h1 {
    font-weight: 400;
    font-size: 4rem;
    padding-bottom: 2rem;
}

.education_container {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.education_img {
    width: 15%;
    border-radius: 25px;
    height: 15%;
}

.education_info {
    padding-left: 2rem;
}

.education_info h3 {
    padding-bottom: 1rem;
    font-size: 1.8rem;
}

.education_info h4 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color:grey;
}

.education_info h5 {
    font-size: 1rem;
    padding-bottom: 1rem;
    color:grey;
}
@media only screen and (max-device-width:280px){
    .education {
        width: 100%;
        padding: 2rem;
    }
    
    .education h1 {
        font-weight: 400;
        font-size: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }
    
    .education_container {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    
    .education_img {
        width: 15%;
        border-radius: 25px;
    }
    
    .education_info {
        padding-left: 1rem ;
        text-align: start;
    }
    
    .education_info h3 {
        padding-bottom: 1rem;
        font-size: 1rem;
    }
    
    .education_info h4 {
        padding-bottom: 1rem;
        font-size: 0.8rem;
        color:grey;
    }
    
    .education_info h5 {
        font-size: 0.7rem;
        padding-bottom: 1rem;
        color:grey;
    } 
}
@media only screen and (min-device-width:281px) and (max-device-width:320px){
    .education {
        padding: 2rem;
        text-align: center;
    }
    .education h1 {
        font-weight: 400;
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    
    .education_container {
        display: flex;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    
    .education_img {
        width: 15%;
        border-radius: 25px;
    }
    
    .education_info {
        padding-left: 2rem;
        text-align:start; 
    }
    
    .education_info h3 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }
    
    .education_info h4 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
        color:grey;
    }
    
    .education_info h5 {
        font-size: 1rem;
        color:grey;
    }
    
}
@media only screen and (min-device-width:321px) and (max-device-width:480px){
    .education {
        width: 100%;
        padding: 2rem;
        text-align: center;
    }
    
    .education h1 {
        font-weight: 400;
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    
    .education_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    
    .education_img {
        width: 15%;
        border-radius: 25px;
        height: 15%;
    }
    
    .education_info {
        padding-left: 2rem;
        text-align: start;
    }
    
    .education_info h3 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }
    
    .education_info h4 {
        padding-bottom: 1rem;
        font-size: 1.3rem;
        color:grey;
    }
    
    .education_info h5 {
        font-size: 1.3rem;
        padding-bottom: 1rem;
        color:grey;
    }
}
@media only screen and (min-device-width: 481px) and (max-device-width:812px){
    .education {
        width: 100%;
        padding: 2rem;
        text-align: center;
    }
    
    .education h1 {
        font-weight: 400;
        font-size: 3rem;
        padding-bottom: 2rem;
    }
    
    .education_container {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    
    .education_img {
        width: 15%;
        border-radius: 25px;
        height: 15%;
    }
    
    .education_info {
        padding-left: 2rem;
    }
    
    .education_info h3 {
        padding-bottom: 1rem;
        font-size: 2rem;
    }
    
    .education_info h4 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
        color:grey;
    }
    
    .education_info h5 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        color:grey;
    } 
}
@media only screen and (min-device-width: 813px) and (max-device-width:1024px){
    .education {
        width: 100%;
        padding: 2rem;
        color: white;
        text-align: center;
    }
    
    .education h1 {
        font-weight: 400;
        font-size: 2.5rem;
        padding-bottom: 2rem;
    }
    
    .education_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    
    .education_img {
        width: 15%;
        border-radius: 25px;
        height: 15%;
    }
    
    .education_info {
        padding-left: 2rem;
    }
    
    .education_info h3 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }
    
    .education_info h4 {
        padding-bottom: 1rem;
        font-size: 1.3rem;
        color:grey;
    }
    
    .education_info h5 {
        font-size: 1rem;
        padding-bottom: 1rem;
        color:grey;
    } 
}
@media only screen and (min-device-width: 1025px) and (max-device-width:1200px){
    .education {
        width: 100%;
        padding: 2rem;
        color: white;
    }
    
    .education h1 {
        font-weight: 400;
        font-size: 4rem;
        padding-bottom: 2rem;
    }
    
    .education_container {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    
    .education_img {
        width: 15%;
        border-radius: 25px;
        height: 15%;
    }
    
    .education_info {
        padding-left: 2rem;
    }
    
    .education_info h3 {
        padding-bottom: 1rem;
        font-size: 1.8rem;
    }
    
    .education_info h4 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
        color:grey;
    }
    
    .education_info h5 {
        font-size: 1rem;
        padding-bottom: 1rem;
        color:grey;
    } 
}
@media only screen and (min-device-width: 1201px) and (max-device-width:2000px){
    .education {
        width: 100%;
        padding: 2rem;
        color: white;
    }
    
    .education h1 {
        font-weight: 400;
        font-size: 4rem;
        padding-bottom: 2rem;
    }
    
    .education_container {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    
    .education_img {
        width: 15%;
        border-radius: 25px;
        height: 15%;
    }
    
    .education_info {
        padding-left: 2rem;
    }
    
    .education_info h3 {
        padding-bottom: 1rem;
        font-size: 1.8rem;
    }
    
    .education_info h4 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
        color:grey;
    }
    
    .education_info h5 {
        font-size: 1rem;
        padding-bottom: 1rem;
        color:grey;
    }
}